/* ---------------------------------
About------------------------------- */

.about{
    background-color: var(--primary-normal);
    overflow: hidden;
    color: var(--white-normal);
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img{
        max-width: 570px;
    }
}

.about-content div{
    flex: 1;
}

.about-description{
    h2{
        font-size: 38px;
        margin-bottom: 24px;
    }
    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .about-content{
        flex-direction: column;
    }
}


.haircut-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:14px ;
    background-color: var(--white-normal) ;
    z-index: 99;
}

.haircut-info button{
    color: var(--white-normal);
    background-color: var(--red-normal);
    padding:4px 8px ;
    border-radius: 4px;
    border: 0;
    cursor: default;
}

@media screen and (max-width:768px) {
    .haircuts{
        flex-direction: column;
    }

    .haircut img{
        max-width: 740px;
    }
}

