/* ----------------------------------------------
HERO */

.hero {
    color: var(--white-normal);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    padding-top: 160px; /* Ajuste esse valor para garantir que o conteúdo da hero não fique coberto */
}

h1 {
    text-align: center;
    line-height: 150%;
    max-width: 940px;
    font-size: 46px;
}

p {
    text-align: center;
    margin: 14px 0;
}



.button-contact{
    padding: 14px 28px;
    color: var(--white-normal);
    background-color: var(--red-normal);
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover{
    animation:scaleButton 0.8s alternate infinite ;
}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px) {
    .hero{
   min-height: 60vh;

   h1{
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
   }

   p{
    font-size: 14px;
   }
}
}

@media screen and (max-width: 480px) {
    .hero h1{
        font-size: 24px;
    }
}
